*{font-size:100%;margin:0;padding:0;}
body{font:small Verdana,Helvetica,Arial,sans-serif;color:#310C04;}
img{border:none;}

h1{margin:10px;}

.hide {left:-9999px;position:absolute;}

#player-wrapper{position:relative;  border:1px solid #310C04; background:#DDD;
	width:500px;height:150px;z-index:99;}


#controls-wrapper{position:relative; height:100px;}
#time-wrapper{position:absolute; top:15px; left:390px;}

#counter{padding:5px; margin:10px; border:1px solid gray; width:5em; text-align:right;
	font-size:14px; font-weight:bold; background:#FFF;}

#volume{ position:absolute; left: 300px; top:25px; z-index:100; font-size:14px;}

ul{margin:5px 0 0 0;padding:0;list-style:none;}
li{margin:0;padding:0;}

.items li span{ display:block;}

li h3{font-size:1.0em;padding:0 5px; font-weight:bold;}
li p{display:block; padding: 2px 5px 0 ; font-weight:normal; font-size:0.8em; }

#controls{margin:0px 10px; position:absolute;top:10px;}
#controls li{list-style:none;display:inline;padding-right:5px;}
#controls li input{
  background:url(play-icons.png) no-repeat top left;
  text-align:center;
  border:none;
  color:#000;
  font-family:arial,sans-serif;
  text-decoration:none;
	width:50px; height:50px;
}
#controls li #last{background-position:0 0;}
#controls li #stop{background-position:-50px 0;}
#controls li .play{background-position:-100px 0;}
#controls li .playing{background-position:-150px 0;}
#controls li #next{background-position:-200px 0;}
#controls li #quieter{margin-left:20px; background-position:-300px 0;}
#controls li #louder{background-position:-250px 0;}
#controls li a span{position:absolute;left:-9000px;}

dl.audio{padding-left:16px;padding-right:16px;}
dt{font-size:0.9em;padding-bottom:5px;}
dt a{background:transparent url(mysource_files/audioicon.png) no-repeat scroll 0 2px;color:#CC0000;padding:0 0 6px 21px;}
dd{padding:0 60px 10px 21px;}

#slider-wrapper{position:absolute;top:60px; padding:10px; width:475px;}
.fd-slider{position:relative;width:100%;height:20px;text-align:center;border:0 none;text-decoration:none;display:block;
-moz-user-select:none;-khtml-user-select:nonecursor:pointer;
}

.fd-slider-inner{position:relative;display:block;z-index:1;height:18px;text-align:left;background:#fcfcfc;border:1px solid #ccc;}

.fd-slider-bar{position:absolute;display:block;z-index:2;
height:2px;border:1px solid #bbb;border-bottom:1px solid #aaa;border-right:1px solid #aaa;
background:#ddd;margin:0;padding:0;overflow:hidden;line-height:4px;top:8px;bottom:none;left:10px;right:10px; }

.fd-slider-handle{position:absolute;display:block;padding:0;border:0 none;margin:0;z-index:3;top:0;
left:0;width:20px;height:20px;outline:0px none;background:transparent url(./slider-disabled.png) no-repeat 0px 0px;
cursor:W-resize;line-height:20px;font-size:20px;
-webkit-user-select: none;-moz-user-select:none;-moz-user-focus:none;-moz-outline:0px none;}

.fd-slider-handle:focus{outline:0px none;border:0 none;-moz-user-focus:normal;}
button.fd-slider-handle:focus::-moz-focus-inner { border-color: transparent; }

/* black handle, glow */
.fd-slider-hover .fd-slider-handle{background:transparent url(./slider-disabled-1.png) no-repeat 0px 0px;}
/* blue handle, no glow */
.focused .fd-slider-handle{background:transparent url(./slider.png) no-repeat 0px 0px;}
/* blue handle glow */
.focused.fd-slider-hover .fd-slider-handle{background:transparent url(./slider-1.png) no-repeat 0px 0px;}
body .slider-drag-vertical{cursor:N-resize !important;}
body .slider-drag-horizontal{cursor:W-resize !important;}
.fd_hide_slider_input{display:none;}


/* events table */
h3.events{margin:30px 0 0 10px;}
table{margin:10px;border:1px solid gray; border-width: 1px 0 0 1px;border-spacing:0;}
th.event{width:150px;}
th.count{width:50px;}
th,td{border:1px solid gray; border-width: 0 1px 1px 0; padding:0px; }
td.count{text-align:center;}
td.event{padding:1px 9px;}